absl-py==1.0.0
certifi==2020.6.20
click==8.0.3
colorama==0.4.4
dataclasses==0.8
grpcio==1.42.0
h5py==2.7.0
importlib-metadata==4.8.2
itsdangerous==2.0.1
Jinja2==3.0.3
Markdown==3.3.6
MarkupSafe==2.0.1
protobuf==3.19.1
pyparsing==3.0.6
six==1.16.0
tensorboard==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
threadpoolctl==3.0.0
typing_extensions==4.0.1
webencodings==0.5.1
Werkzeug==2.0.2
wincertstore==0.2
wrapt==1.13.3
zipp==3.6.0
